@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body, p {
    margin: 0;
}

a {
    text-decoration: none;
}



ul, h2 {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #4b73b5;
    margin-bottom: 13px;
}

.header__container {
    height: 77px;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;

}

.contacts {
    position: absolute;
    right: 0;
    top: 20px;
    color: #ffffff;
    text-align: right;
}

.contacts__phone {
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;

}

.contacts__schedule {
    font-size: 14px;
    font-weight: 700;
    opacity: 0.7;
    text-decoration: underline;
}

.main-content, .sidebar {
    display: inline-block;
    vertical-align: top;
}

.nav__list {
    font-size: 12px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #7a97c8;
}

.nav__link, .nav__link:before {
    display: inline-block;
    vertical-align: middle;
}
.nav__list-item a {
    color: #86a1cd;
}
.nav__link:hover {
    color: #221f1f;
}

.nav__link:before {
    content: "";
    width: 23px;
    height: 18px;
    margin-right: 16px;
    background: center center / contain no-repeat;
}

.nav__link--icon-main:before {
    background-image: url("img/main-icon.png");
}

.nav__link--icon-main:hover:before {
    background-image: url("img/main-icon-active.png");
}

.nav__link--icon-review:before {
    background-image: url("img/review-icon.png");
}

.nav__link--icon-review:hover:before {
    background-image: url("img/review-icon.png");
}

.nav__link--icon-crew:before {
    background-image: url("img/crew-icon.png");
}

.nav__link--icon-crew:hover:before {
    background-image: url("img/crew-icon-active.png");
}

.main-content {
    width: 896px;
}

.sidebar {
    width: 200px;
    margin-top: 10px;
}

.main-content__pic {
    display: block;
    margin-bottom: 19px;
    max-width: 100%;
}

.title {
    font-weight: 700;
    line-height: 38px;
    font-size: 49px;
}
.rates__title {
    margin-bottom: 27px;
}

.rates__list {
    margin-bottom: 61px;
}

.rates__item {
    padding: 43px 0;
    display: inline-block;
    width: 250px;
    text-align: center;
    border: 1px solid white;
}

.rates__item:hover {
    border: 1px solid #e8e9ed;
}

.rates__item-name,
.rates__item-descr,
.rates__item-price {
    display: block;
}


.rates__item-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #4b73b5;
    border-radius: 50%;
    margin-bottom: 35px;
    position: relative;
}

.rates__item-circle:before {
    content: "";
    display: inline-block;
    background: center center / contain no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rates__item-circle--icon--standard:before {

    background-image: url("img/standard-rate.png");
}

.rates__item-circle--icon--premium:before {

    background-image: url("img/premium-rate.png");
}

.rates__item-circle--icon--lux:before {

    background-image: url("img/lux-rate.png");
}

.rates__item-name {
    color: #212121;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    margin-bottom: 26px;
}

.rates__item-descr, .rates__item-list {
    color: #221f1f;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.rates__item-list {
    width: 185px;
    display: inline-block;
    text-align: left;
    margin-bottom: 35px;
}


.rates__item-list-name {
    display: inline-block;
}

.rates__item-list-name:before {
    vertical-align: middle;
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: black;
    margin-right: 16px;
    border-radius: 50%;
}

.rates__item-price {
    font-size: 54px;
    font-weight: 400;
}

.rates__item-price:before {
    content: "$";
    font-size: 35px;
    font-weight: 400;
}


.news__title {
    margin-bottom: 72px;
}


.news__item {
    border-bottom: 1px solid #e8e9ed;
}

.news__item:last-child {
    border-bottom: none;
}

.news__item-pic, .news__item-text {
    display: inline-block;
    vertical-align: top;
    padding: 30px 0;
}

.news__item-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.news__item-text {
    max-width: 644px;
    margin-left: 20px;
}

.news__item-date, .news__item-title, .news__item-text p {
    display: block;
}

.news__item-date {
    color: #221f1f;
    font-weight: 300;
    margin-bottom: 4px;
    font-size: 14px;
}

.news__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 10px;
}

.news__item-text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.pagination__text,
.pagination__bar,
.pagination__list,
.pagination__button-next,
.pagination__button-prev,
.pagination__item {
    display: inline-block;
}

.pagination {
    margin: auto;
    max-width: 500px;
    margin-bottom: 60px;
}

.pagination__text {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

.pagination__link {
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 20px;
    position: relative;
}
.pagination__link:hover{
    opacity: 1;
    color: white;
}

.pagination__link:hover:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    background-color: #4b73b5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination__button-next, .pagination__button-prev {
    margin-left: 20px;
}

.pagination__button-prev, .pagination__button-next {
     opacity: 0.3;
     color: #656464;
}

.pagination__button-prev:hover, .pagination__button-next:hover {
    opacity: 1;
    color: black;
}

.footer {
    background-color: #4b73b5;
}

.footer__container {
    height: 77px;
    position: relative;
}

.footer__descr, .footer .logo, .social-networks {
    position: absolute;
    top: 14px;
}

.footer__descr{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    left: 0;
}

.footer__descr a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
}

.footer .logo {
    left: 50%;
    margin-top: 10px;
}

.social-networks {
    right: 0;
}

.social-networks__title{
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.social-networks__list {
    text-align: left;
}
.social-networks__item {
    display: inline-block;

}

.social-networks-circle {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #d2def3;
    margin-right: 5px;
    position: relative;
}


.social-networks-circle:before {
    content: "";
    display: inline-block;
    background: center center / contain no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-networks__item-vk:before {
    background-image: url("img/vk.png");
}

.social-networks__item-fb:before {
    background-image: url("img/fb.png");
}

.social-networks__item-g:before {
    background-image: url("img/google.png");
}

.social-networks__item-tw:before {
    background-image: url("img/twitter.png");
}

.social-networks__item-m:before {
    background-image: url("img/mail.png");
}
